@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    box-sizing: border-box;
}

body {

    overflow-x: hidden;
    font-family: 'Poppins';

}

.box .input-box input {
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0px 20px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #E0E0E0;
    transition: .3s;
}

.box .input-box input:focus{
    border-bottom: 1px solid rgba(0, 176, 255, 1);
}

.box .input-box label {
    position: absolute;
    left: 15px;
    top: 25px;
    pointer-events: none;
    transition: 0.3s;
    font-size: 18px;
    color: #424242;
}

.box .input-box input:focus~label,
.box .input-box input:valid~label {
    top: 3px;
    font-size: 16px;
    color: rgba(0, 176, 255, 1) ;
}

h2 {
    margin: 90px auto 0px auto;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

hr{
    background: rgba(0, 176, 255, 1);
    width: 200px;
    height: 2px;
    margin: 20px auto 50px auto;
    border-radius: 15px;
}

.form-con {
    background: rgba(245, 245, 245, 1.0);
    padding: 30px 50px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .5);
}

.gender{
  
    margin-top: 2px;
}

.age{
  
    margin-top: 2px;
}

.caste{
  
    margin-top: 2px;
}

.btn-sub input[type = 'submit']{
    border: none;
    outline: none;
    background: none;
    border: 2px solid rgba(0, 176, 255, 1);
    font-size: 18px;
    border-radius: 15px;
    width: 200px;
    padding: 3px 0px;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: .3s;
}

.btn-sub input[type = 'submit']:hover{
    background: rgba(0, 176, 255, 1);
    color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
}

.btn-sub hr{
    background: rgba(0, 176, 255, 1);
   width: 100%;
    height: 1px;
    margin: 20px auto 20px auto;
    border-radius: 50%;
}

.btn-sub p{
    font-size: 14px;
}