@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}


.login-form {
    width: 660px;
    background: #f1f1f1;
    height: 920px;
    padding: 40px 40px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #424242;
}

.txtb {
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    margin: 25px 0;
}

.txtb input {
    font-size: 17px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s;
}

.txtb span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-50%);
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .3s;
}

.focus+span::before {
    font-size: 15px;
    top: -5px;
    color: red;
}

.focus+span::after {
    width: 100%;
}

.logbtn {
    display: block;
    margin: auto;
    width: 50%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 90px;
    margin-top: 30px;
    font-size: 19px
}

.logbtn:hover {
    background-position: right;
}

.txtb textarea {
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-size: 17px;
    padding: 5px;
}

/* .date{
    width: 100%;
    
} */

/* .date input{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding-top: 30px;
    margin-left: 1px;
    font-size: 14px;
    color: black;
    
} */

/* .date label{
    position: absolute;
    left: 44px;
    top: 480px;
    font-size: 17px;
    color: #adadad;
} */

.gender input{
    background-color: #adadad;
}
 


.gender label{
    position: absolute;
    left: 45px;
    top: 690px;
    color: #adadad;
    pointer-events: none;
}

.gender  .male {
    margin-left: 5px;
    margin-top: 55px;
    font-size: 17px;
    margin-bottom: 50px;
}

.gender  .female {
    margin-left: 15px;
    font-size: 17px;
}

.gender  .others {
    margin-left: 15px;
    font-size: 17px;
}