{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <form action="registration" class="login-form" method="POST">
        {% csrf_token %}
        <h1>Registration Form</h1>
        <hr>
        <div class="name-container">


            <div class="txtb">
                <input type="text" name="username">
                <span data-placeholder="Username"></span>
            </div>


            <!-- <div class="txtb">
                <input type="email" name="email">
                <span data-placeholder="E-mail"></span>
            </div> -->


            <div class="txtb">
                <input type="password" name="password">
                <span data-placeholder="Password"></span>
            </div>

            <div class="txtb">
                <input type="password" name="confirmpassword">
                <span data-placeholder="Confirm Password"></span>
            </div>

            <input type="submit" class="logbtn" value="Register">

            <div class="bottom-text">
                Already have account?
            </div>

            <div class="btn">
                <a href="login" class="link-color">
                    <span>Login</span>
                </a>
            </div>

    </form>


    <script type="text/javascript">
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });
    </script>


</body>

</html>